{
  "extends": "@wowserhq/eslint-config",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "camelcase": "off",
    "import/order": ["error"],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "quotes": ["error", "single", {
      "avoidEscape": true
    }]
  }
}
